.pinned-footer {
    margin: 0 auto;
    width: 100%;
    position: fixed;
    text-align: center;
    bottom: 0;
    padding-bottom: 0;
    font-family: 'proxima_nova_altbold' !important;
}

.pinned-footer .dropdown-trigger {
    height: 48px;
    line-height: 48px;
    border-radius: 24px;
    width: 100%;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    color: #73b420;
    font-size: 18px;
    background-color: white;
    text-transform: none;
    text-align: center;
}

.dropdown-content li > a {
    text-align: center;
    color: black;
    font-size: 18px;
}

.current-location {
    color: #73b420 !important;
}

.pinned-footer .dropdown-content {
    border-radius: 24px;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
}

table {
    margin: 0 auto;
    line-height: 0;
}

@media only screen and (min-width: 500px) {
    table {
        width: 500px;
    }
}
.pulse::before {
    background-color: white !important;
}
.custom-float-btn {
    background-color: rgba(255,255,255,0);
    color: rgba(255,255,255,0);
    overflow: visible;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
}

.btn-floating {
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
}

.custom-float-btn:hover {
    background-color: rgba(255,255,255,0);
    color: rgba(255,255,255,0);
}
.nav-buttons {
    width: 48px;
    padding: 10px;
    margin: 0;
    height: 48px;
}

.nav-dropup {
    padding: 0;
    margin: 0;
}

.btn-floating.btn-large {
    width: 48px !important;
    height: 48px !important;;
}

.fixed-action-btn {
    right: 10px !important;
    top: 10px !important;
}

.fixed-action-btn.direction-bottom {
    padding: 0 0 0 0 !important;
}

.fixed-action-btn.direction-bottom ul {
    top: 45px !important;
}

.fixed-action-btn.direction-bottom ul li {
    margin: 10px 0 0 0 !important;
}

.btn-large {
    height: 48px !important;
    line-height: 48px !important;
}