

html {
  height: 100%;
}

body {
  color: white;
  height: 100%;
  font-family: 'Proxima Nova', 'Khula', Arial, sans-serif;
}

::-webkit-scrollbar { 
  display: none; 
}


/* Navbar */
nav {
  background-color: #FFFFFF;
  color: #565A5C;
  font-family: 'Proxima Nova', 'Khula', Arial, sans-serif;
}

.nav-menu {
  color:#565A5C;
  font-size: 57px;
}

.nav-link {
  color:#565A5C;
  font-size: 24px;
}

.nav-item.active .nav-link{
  color: #00AAC8;
}
.nav-item:hover .nav-link,
.nav-menu:hover {
  color: #00AAC8;
}

.jumbotron {
  background: url("./../images/splashpage/campus_carousel.JPG") no-repeat center center; 
  background-size: cover;
  position: relative;
  min-height: 90%;
}


.jumbo-title {
  position: absolute;
  left: 50%;
  top: 30%;
}

.jumbo-title-text {
  position: relative;
  left: -50%;
  color:#FFFFFF;
  text-align: center;
}

.jumbo-bottom {
  position: absolute;
  left: 50%;
  bottom: 5%;
}

.jumbo-bottom-text {
  position: relative;
  left: -50%;
  color:#FFFFFF;
  text-align: center;
}

.jumbo-bottom-text:hover {
  color: #00AAC8;
  text-decoration: none;
}

.jumbo-link:hover {
  text-decoration: none;
}



.card-link {
  color: #565A5C;
  text-decoration: none;
}

.card {
  min-height: 346px;
}


.card:hover {
  color: #FFFFFF;
  background-color: #00AAC8;
  transform: scale(1.1, 1.1);
}




/* RESPONSIVE CSS */
@media (min-width: 40em) {

}

@media (min-width: 62em) {
  .featurette-heading {
    margin-top: 7rem;
  }
}











/*
 * Globals
 */

/* Links */
a,
a:focus,
a:hover {
  color: #fff;
}

/* Custom default button */
.btn-secondary,
.btn-secondary:hover,
.btn-secondary:focus {
  color: #333;
  text-shadow: none; /* Prevent inheritance from `body` */
  background-color: #fff;
  border: .05rem solid #fff;
}
