

html {
  height: 100%;
}

body {
  background-color: #FFFFFF;
  height: 100%;
  font-family: 'Proxima Nova', 'Khula', Arial, sans-serif !important;
}

::-webkit-scrollbar { 
  display: none; 
}


/* Navbar */
.navbar {
  background-color: #FFFFFF;
  color: #565A5C;
  font-family: 'Proxima Nova', 'Khula', Arial, sans-serif !important;
  padding: 5px 16px !important;
}

.nav-menu {
  color:#565A5C;
  font-size: 57px;
}

.navbar-brand{
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

.nav-link {
  color:#565A5C;
  font-size: 24px;
}

.nav-link:hover{
  color:#73b420 !important;
}

.nav-link:focus {
  color: #73b420 !important;
}

.dropdown-item {
  color: #565A5C !important;
}

.dropdown-item:hover {
  color: #00AAC8 !important;
}

/* Jumbotron */
.jumbotron {
  background: 
    linear-gradient(
      rgba(0, 0, 0, 0.5), 
      rgba(0, 0, 0, 0.5)
    ),
    url("../images/landing/background_image.png") no-repeat center center; 
  background-size: cover;
  margin-bottom: 0px !important;
  position: relative;
  min-height: 100%;
}


.jumbo-title {
  position: absolute;
  left: 50%;
  top: 30%;
}

.jumbo-title-text {
  position: relative;
  left: -50%;
  color:#FFFFFF;
  text-align: center;
}

.jumbo-link:hover {
  text-decoration: none;
}

.title-sm{
  font-size:18px;
}

.title-lg{
  font-size:40px;
}

.button-row{
  position: relative;
  left: -50%;
  color:#FFFFFF;
  text-align: center;
  margin-top:40px;
}

.pill{
	text-decoration:none;
	color:#FFFFFF;
	font-size:18px;
	padding:0 30px;
	line-height:64px;
  height: auto;
  display: inline-block;
  font-family: 'proxima_nova_altbold' !important;
  text-align: center;
  background-color:#73b420;
  -webkit-border-radius: 32px;
  -moz-border-radius: 32px;
  border-radius: 32px;
}

.green-pill {
  height: 48px;
  line-height: 48px;
  border-radius: 24px;
  width: 250px;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  color: white;
  font-size: 18px;
  background-color: #73b420;
  text-transform: none;
  text-align: center;
  display: block;
  margin: 10px auto;
  cursor: pointer;
  font-family: 'proxima_nova_altbold' !important;
}  

.green-pill:hover{
  color:#73b420;
  background-color:#FFFFFF;
  text-decoration:none;
}



.card-link {
  color: #565A5C;
  text-decoration: none;
}


.card:hover {
  text-decoration:none;
  color: #565A5C;
  transform: scale(1.02, 1.02);
}




/* RESPONSIVE CSS */
@media (max-width: 576px) {
  .title-sm{
    font-size:12px;
  }
  
  .title-lg{
    font-size:24px;
  }

  .green-pill {
    font-size: 18px;
    padding:0 20px;
	  line-height:50px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    border-radius: 25px;
  }
}





/*
 * Globals
 */

/* Links */
a,
a:focus,
a:hover {
  color: #fff;
}

/* Custom default button */
.btn-secondary,
.btn-secondary:hover,
.btn-secondary:focus {
  color: #333;
  text-shadow: none; /* Prevent inheritance from `body` */
  background-color: #fff;
  border: .05rem solid #fff;
}
